<div id="table_demo_container">
    <table id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Group memberships</th>
            </tr>
        </thead>
        <tbody>
            {{#context}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{groups}}</td>
            </tr>
            {{/context}}
        </tbody>
    </table>
</div>