<div>
    Here is a list of active search criteria:
    <ul id="active-search-criteria">
    </ul>
</div>

<div>
    <table id="demoTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Group memberships</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            {{#.}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{groups}}</td>
            </tr>
            {{/.}}
            {{/users}}
            {{^users}}
            <tr>
                <td>No users!</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</div>